html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (min-width: 375px) {

     html {
         margin: 1em;
     }

     header p {
         display: flex;
         font-size: 30px;
         font-weight: bold;
         text-align: center;
     } 

     nav ul {
         display: flex;
         font-size: 18px;
         justify-content: space-evenly;
         margin-bottom: 10%;
         margin-top: 10%;
     }

     aside aside-one {
         text-align: left;
     }

     h1 {
         display: flex;
         font-size: 25px;
         text-align: center;
         margin-top: 10%;
         padding: 5px 20%;
     }

     h2 {
        font-size: 25px;
     }

     h3 {
         font-style: italic;
         margin-top: 10%;
     }

     header {
         border: 1px solid black;
     }

     p {
         text-align: justify;
     }
}   

@media screen and (min-width: 768px) {
      
}

@media screen and (min-width: 1000px) {
      
}