html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (min-width: 350px) and (max-width: 461px) {

     html {
         margin: 1em;
     }

     header p {
         display: flex;
         font-size: 30px;
         font-weight: bold;
         text-align: center;
     } 

     nav ul {
         display: flex;
         font-size: 18px;
         justify-content: space-evenly;
         margin-bottom: 10%;
         margin-top: 10%;
     }

     h1 {
         display: flex;
         font-size: 25px;
         text-align: center;
         margin-top: 10%;
         padding: 5px 20%;
     }

     h2 {
        display: flex;
        font-size: 25px;
        text-align: center;
     }

     h3 {
         font-style: italic;
         margin-top: 10%;
     }

     header {
         border: 1px solid black;
     }

     p {
         text-align: justify;
     }
}   

@media screen and (min-width: 462px) and (max-width: 682px) {
    
    html {
        margin: 1em;
        background-color: antiquewhite;
    }

    header p {
        display: flex;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    } 

    nav ul {
        display: flex;
        font-size: 25px;
        justify-content: space-evenly;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    ul li {
        font-size: 18px;
    }

    ol li {
        font-size: 18px;
    }

    aside aside-one {
        text-align: left;
        font-size: 18px;
    }

    aside aside-two {
        text-align: left;
        font-size: 18px;
    }

    h1 {
        display: flex;
        font-size: 25px;
        text-align: center;
        margin-top: 10%;
        padding: 5px 30%;
    }

    h2 {
       font-size: 25px;
       text-align: center;
    }

    h3 {
        font-style: italic;
        margin-top: 10%;
    }

    header {
        border: 1px solid black;
        background-color: rgba(0, 255, 213, 0.404);
    }

    p {
        text-align: justify;
        font-size: 20px;
    }
}
    

@media screen and (min-width: 683px) and (max-width: 100%) {
      
}