<style>
        h1 {
            color:orange;
            size: 65px;
            font-family: sans-serif;
            font-style: italic;
        }
        ul {
            background-color: paleturquoise;
        }
        .list-style {
            background-color: plum;
        }
        p {
            font-weight: 600;
            font-size: 3em;
        }
        body { 
            font-size: 16px;
            text-align: justify;
            line-height: 20px;
        }
        #primeiro {
            background-color: yellow;
        }
        #segundo {
            background-color: red;
        }
        #terceiro {
            background-color: brown;
        }